<mat-grid-list cols="{{this.width}}" rowHeight="1:1" >
  
    <mat-grid-tile *ngFor="let tile of tiles" (click)="putTile(tile.x, tile.y)"
      (mouseenter)="hoverIdx = getIndex(tile.x, tile.y)"
      (mouseleave)="hoverIdx = -1"
     >

      <app-tile [tile]="tile" 
        *ngIf=" hoverIdx !== getIndex(tile.x, tile.y) || !isSpotAvailable(tile.x, tile.y)  else nextTile">
      </app-tile>
     
      <ng-template #nextTile>
        <app-tile [tile]="this.tileToPut" ></app-tile>
      </ng-template>

    </mat-grid-tile>

</mat-grid-list>

<br>

<div class="tile preview" style="width: 150px; margin: auto; height: 150px;" (click)="rotateTile()">
  <app-tile [tile]="this.tileToPut" ></app-tile>
</div>



